In [7]:
import numpy as np
import pandas as pd

In [72]:
#Alexandra Feely Data Science Homework 3

# Q2)

def createArray(top, inc, row, col):
    tlist=[]
    x=0
    for i in range(0,100):
        tlist.append(x)
        x=x+inc
        if (x>top):
            break
    tarray = np.array(tlist)
    tarray=np.reshape(tarray,(row,col))
    return tarray

In [73]:
#a)
df1 = pd.DataFrame(createArray(22,2,4,3),
                   index=[['R1','R1','R2','R2'],['1','2','1','2']],
                   columns=[['Group1','Group1','Group2'],['C1','C2','C1']])
print(df1)

     Group1     Group2
         C1  C2     C1
R1 1      0   2      4
   2      6   8     10
R2 1     12  14     16
   2     18  20     22

In [74]:
#B)

df2 = pd.DataFrame(createArray(57,3,4,5),
                   index=['row00','row01','row02','row03'],
                   columns=['col00','col01','col02','col03','col04'])
print(df2)

       col00  col01  col02  col03  col04
row00      0      3      6      9     12
row01     15     18     21     24     27
row02     30     33     36     39     42
row03     45     48     51     54     57

In [87]:
#c)

arr1 = np.reshape(np.array([0,2,4,7,9,11,14,16,18,21,23,25,28,30,32,35,37,39,42,44,46]),(7,3))
arr2 = np.empty((10,4))
arr2[:] = np.nan
arr2[:7,:3] = arr1
df3 = pd.DataFrame(arr2,columns=['A','B','C','D'])
print(df3)

      A     B     C   D
0   0.0   2.0   4.0 NaN
1   7.0   9.0  11.0 NaN
2  14.0  16.0  18.0 NaN
3  21.0  23.0  25.0 NaN
4  28.0  30.0  32.0 NaN
5  35.0  37.0  39.0 NaN
6  42.0  44.0  46.0 NaN
7   NaN   NaN   NaN NaN
8   NaN   NaN   NaN NaN
9   NaN   NaN   NaN NaN