In [58]:
#Alexandra Quiz 3
import numpy as np
import pandas as pd

#### (1) Create a DataFrame with MultiIndex like following:
        C1	    C2
        H1	H1	H2
one	R1	0	1	2
    R2	3	4	5
two	R3	6	7	8
    R4	9	10	11
one	R5	12	13	14

(Note that 0 ~ 14 are values, all the rest are labels)

In [59]:
# Q1 Answer
data = np.array([[0,1,2],
                [3,4,5],
                [6,7,8],
                [9,10,11],
                [12,13,14]])

Answer1 = pd.DataFrame(data, 
                   index = [["one", "one","two", "two", "one"],
                            ["R1", "R2", "R3","R4","R5"]],
                   columns = [["C1","C1","C2"],["H1", "H1","H2"]])

Answer1data = np.array([[0,1,2],
                [3,4,5],
                [6,7,8],
                [9,10,11],
                [12,13,14]])

Answer1 = pd.DataFrame(data, 
                   index = [["one", "one","two", "two", "one"],
                            ["R1", "R2", "R3","R4","R5"]],
                   columns = [["C1","C1","C2"],["H1", "H1","H2"]])

Answer1

        C1      C2
        H1  H1  H2
one R1   0   1   2
    R2   3   4   5
two R3   6   7   8
    R4   9  10  11
one R5  12  13  14

In [60]:
# create a DataFrame
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [61]:
# create another DataFrame
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7']},
                   index=[4, 5, 6, 7])
df2

    A   B   C
4  A4  B4  C4
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

#### (2) Use df1 and df2 to create a DataFrame object like following (hint: concat()):
	A	B	C
0	A0	B0	C0
1	A1	B1	C1
2	A2	B2	C2
3	A3	B3	C3
4	A4	B4	C4
5	A5	B5	C5
6	A6	B6	C6
7	A7	B7	C7

In [62]:
# Q2 Answer
Answer2 = pd.concat([df1,df2], join="inner")
Answer2

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2
3  A3  B3  C3
4  A4  B4  C4
5  A5  B5  C5
6  A6  B6  C6
7  A7  B7  C7

In [63]:
# create a third DataFrame object
df3 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[1, 2, 4, 5])
df3

    B   D   F
1  B2  D2  F2
2  B3  D3  F3
4  B6  D6  F6
5  B7  D7  F7

#### (3) Use df1 and df3 to create a DataFrame object like following:

	A	B	C	D	B	D	F
1	A1	B1	C1	D1	B2	D2	F2
2	A2	B2	C2	D2	B3	D3	F3

In [64]:
# Q3 Answer
Answer3 = pd.concat([df1,df3], join="inner", axis=1)
Answer3

    A   B   C   D   B   D   F
1  A1  B1  C1  D1  B2  D2  F2
2  A2  B2  C2  D2  B3  D3  F3

In [65]:
# create a fourth DataFrame object
df4 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A4'],
                    'D': ['D0', 'D1', 'D2', 'D4'],
                    'F': ['F0', 'F1', 'F2', 'F4']},
                   index=[0, 1, 2, 4])
df4

    A   D   F
0  A0  D0  F0
1  A1  D1  F1
2  A2  D2  F2
4  A4  D4  F4

#### (4) Use df1 and df4 to create a DataFrame object like following (hint: merge()):

	A	B	C	D_x	D_y	F
0	A0	B0	C0	D0	D0	F0
1	A1	B1	C1	D1	D1	F1
2	A2	B2	C2	D2	D2	F2
3	A3	B3	C3	D3	NaN	NaN
4	A4	NaN	NaN	NaN	D4	F4

In [66]:
# Q4 Answer
Answer4 = df1.merge(df4, left_on="A", right_on="A", suffixes=("_x", "_y"))
Answer4

    A   B   C D_x D_y   F
0  A0  B0  C0  D0  D0  F0
1  A1  B1  C1  D1  D1  F1
2  A2  B2  C2  D2  D2  F2

#### (5) Use df1 and df4 to create a DataFrame object like following:
	A	B	C	D	A	D	F
0	A0	B0	C0	D0	A0	D0	F0
1	A1	B1	C1	D1	A1	D1	F1
2	A2	B2	C2	D2	A2	D2	F2
3	A3	B3	C3	D3	NaN	NaN	NaN
4	NaN	NaN	NaN	NaN	A4	D4	F4

In [67]:
#Q5 Answer
Answer5 = pd.concat([df1,df4], axis = 1)
Answer5

     A    B    C    D    A    D    F
0   A0   B0   C0   D0   A0   D0   F0
1   A1   B1   C1   D1   A1   D1   F1
2   A2   B2   C2   D2   A2   D2   F2
3   A3   B3   C3   D3  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   D4   F4

#### To submit your file via the link below:
https://script.google.com/macros/s/AKfycbyBe9Um_LYkZ--KKA-1dKIPXtLTf_YTvdV5D3G29Q/exec